*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI',sans-serif;
    font-size: 14px;
}
body{
    width:100vw;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    display: flex;
    justify-content: center;
    line-height: 18px;
}
a{
    font-weight: 600;
}
.instagram-wrapper{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram-phone img{
    height: 40rem;
}
.instagram-continue{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 35rem;
    width: 40%;
}
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    background-color: #fff;
    width: 100%;
    padding: 1.5em;
}
.group:nth-child(1){
    min-height: 20rem;
}
.logo{
    height: 3rem;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.profile img{
    height: 6rem;
}
.login{
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}
.logout{
    color: #0095f6;
    margin-top: 1rem;
}
.not-account{
    color: #8e8e8e;
}
.link-blue{
    color:#0095f6;
    font-weight: 600;
}
.downloads{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.download-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.download-wrapper a img{
    height: 2.5rem;
}
.button{
    text-align: center;
    width: 100%;
    
}
.alternative{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 7rem;
    padding: 1em 0;
}
.alternative p{
    margin:0.5em 0;
}
input{
    width: 100%;
    padding:0.75em;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin:0.5em 0;
}
/* Media queries */
@media(max-width:1024px){
    .instagram-wrapper{
        width: 90%;
    }
}
@media(max-width:650px){
    body{
        background-color: #fff;
    }
    .group{
        background-color: none;
        border: none;
    }
    .instagram-wrapper{
        width: 90%;
        align-items: unset;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-continue{
        width: 100%;
    }
}
